<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/style.css">
        <title></title>
    </head>
    <body>
      <h1>Edit Logs Page</h1>
        <form action="/users/<%=brandShow.id%>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="name" name="name" id="name" value="<%=brandShow.name%>"/>
        <label for="username">Username</label>
        <input type="username" name="username" id="username" value="<%=brandShow.username%>"/>
        <label for="logoImage">logoImage</label>
        <input type="logoImage" name="logoImage" id="logoImage" value="<%=brandShow.logoImage%>"/>
        <label for="colorsOne">colors</label>
        <input type="colorsOne" name="colorsOne" id="colorsOne" value="<%=brandShow.colorsOne%>"/>
        <label for="brandValues">brandValues</label>
        <input type="brandValues" name="brandValues" id="brandValues" value="<%=brandShow.brandValues%>"/>
        <label for="moodboardImage">moodboardImage</label>
        <input type="moodboardImage" name="moodboardImage" id="moodboardImage" value="<%=brandShow.moodboardImage%>"/>
        <input type="submit" value="Edit Log"/>
      </form>
    </body>
</html>